body {
	background: url('img/background.jpg')center/cover no-repeat;
	color: white;
	text-align: center;
}

h3 {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bolder;
	text-decoration: underline;
}

#foundation {
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('img/background.jpg')center/cover no-repeat;
}

.images {
	flex:0 0 50%;
	min-height: 70vh;
	background: url('img/background.jpg')center/cover no-repeat;
	border-radius: 15px;
	box-shadow: 5px 10px black;
	display: flex;
	justify-content: space-between;
}

.btn {
	border-radius: 15px;
	color: black;
	font-size: 0.7rem;
	padding: 0.9rem;
	border: 3px solid lightgray;
	box-shadow: 1px 1px lightgray
}

.btn:hover {
	background-color: darkgray;
	cursor: pointer;
	border: 3px solid lightgray;
}

.btn:active {
	font-style: italic;
	box-shadow: none;
}

.prevBtn {
	align-self: center;
	margin: -30px;
	outline: none;
}

.nextBtn {
	align-self: center;
	margin-right: -30px;
	outline: none;
}